@font-face {
    font-family: 'NeueHaasUnica-Regular';
    src: url("src/static/fonts/NeueHaasUnica-Regular.woff2") format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'TinkoffSans';
    src: url("src/static/fonts/TinkoffSans.woff2") format('woff2');
    font-style: normal;
    font-weight: normal;
}



* {
   margin: 0;
    padding: 0;
}

body {
    font-family: 'NeueHaasUnica-Regular', sans-serif;
    width: 100%;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #336fee;
}

hr {
    background: #dddfe0;
    border: none;
    height: 1px;
}

.title {
    padding: 48px 0 32px 0;
}

.title h2 {
    font-family: 'TinkoffSans', sans-serif;
    font-size: 34px;
    font-weight: normal;
    letter-spacing: 1px;
}

.title-second {
    font-family: 'TinkoffSans', sans-serif;
    font-size: 24px;
    letter-spacing: 0;
}

.container {
    max-width: 1104px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
}

header {
    width: 100%;
    font-family: 'NeueHaasUnica-Regular', sans-serif;
    font-size: 13px;
    box-sizing: border-box;

}

header a {
    color: rgba(0,0,0,.54);
    min-height: 64px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    box-sizing: border-box;
}

header a:hover:not(.header-first-line-menu-singin a) {
    color: black;
    border-bottom: 2px solid;
    border-bottom-color: rgba(0,0,0,.15);

}

header a:focus {
    color: black;
    border-bottom: 2px solid;
    border-bottom-color: rgba(0,0,0,.66);
}

.header-logo {
    box-sizing: border-box;
    height: 64px;
    display: flex;
    align-items: center;
}

.header-first-line-menu, .header-second-line-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 64px;

}

.header-first-line-menu-log {
    width: 79%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-first-line-menu-list, .header-second-line-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-first-line-menu-list-item, .header-second-line-menu-list-item {
    padding-right: 24px;

}

.header-first-line-menu-singin a{
    width: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #336fee;
    transition: .3s ease-in-out;
    box-sizing: border-box;
}

.header-first-line-menu-singin a:hover {
    color: black;
}

/*====================================================*/

.card-one {
    background: url("https://acdn.tinkoff.ru/static/pages/files/c4b146f4-7439-4546-ba25-ad7fd50cb48d.webp");
    background-size: cover;
}

.card-one-container {
    height: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.card-one-title {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-one-title h1 {
    width: 440px;
    font-family: 'TinkoffSans', sans-serif;
    font-size: 44px;
    line-height: 48px;
    font-weight: normal;
}

.card-one-link-item {
    padding: 15px 35px;
    border-radius: 4px;
    background-color: #ffdd2d;
    color: black;

}

/*======================================*/

.recommend-products-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    letter-spacing: 0;
    margin-bottom: 32px;

}
.recommend-products-card-item {
    width: 30%;
    height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.recommend-products-card-item:hover {
    color: #336fee;
}

.text {
    color: black !important;
}


.recommend-products-card-item-link {
    padding: 9px 23px 9px 23px;
    background-color: #f5f5f6;
    text-align: center;
    border-radius: 4px;
}



/*===========================================*/

.card-two-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    padding: 16px 0;

}

.card-two-list-item {
    width: 48%;
    height: 484px;
    background-color: #f5f5f6;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.card-two-list-item-img {
    width: 100%;
    background-color: #959ba4;
    display: flex;
    justify-content: center;
}

.card-two-list-item-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
}

.card-two-list-item-link {
    padding: 9px 23px 9px 23px;
    background-color: #f5f5f6;
    text-align: center;
    border: 1px solid #336fee;
    border-radius: 4px;
}

/*============================================*/

.service-card {
    background-color: #f5f5f6;
}

.service-card-item-list {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 0 0;

}

.service-card-item-first-line {
    width: 42%;
    height: 168px;
    padding: 30px;
    background-color: white;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all .5s;
}

.service-card-item-first-line:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.service-card-item-second-line {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
    cursor: pointer;
    transition: all .5s;
}

.service-card-item-second-line:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.service-card-item-second-line-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
}

.img {
    height: 180px;
    overflow: hidden;
}

/*==============================================*/

.interesting-card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 10px;

}

.interesting-card-list-item {
    display: flex;
    justify-content: space-between;
    width: 48%;
    background-color: #f5f5f6;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.interesting-card-list-item:hover {
    color: #336fee;
}

.interesting-card-list-item-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}

/*================================*/

.reviews-card-item {
    display: flex;
    height: 260px;
    background-color: #f5f5f6;
    margin-top: 10px;
    margin-bottom: 120px;
}

.reviews-card-item-log {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}

/*=====================================*/

.footer-title {
    padding: 20px 0;
}

.footer-title-first-line {
    display: flex;
    justify-content: space-between;
}

.footer-title-second-line {
    display: flex;
    justify-content: space-between;
}

.footer-title-second-line-list {
    display: flex;
    gap: 25px;
    font-size: 13px;
}

.footer-body {
    color: rgba(0,0,0,.4);
    line-height: 1.5;
    font-size: 13px;
    background: url("https://www.cdn-tinkoff.ru/frontend-libraries/footer/1.12.1/0df489f39c6378b387c0c6da575fcc84.svg") center/430px 371px no-repeat;
    background-color: #f6f7f8;

}

.footer-body-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footer-body-links a {
    line-height: 2.2;
    font-size: 13px;
    color: rgba(0,0,0,.4);

}

.footer-body-links a:hover {
    color: rgba(0,0,0,.8)
}

.footer-links a{
    color: rgba(0,0,0,.4);
    font-size: 13px;
    line-height: 1.9;
}

.footer-links a:hover {
    color: rgba(0,0,0,.8)
}

.footer-body-network-links {
    display: flex;
    gap: 25px;
}

.footer-body-english-logo {
    width: 18px;
    height: 18px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAAnFBMVEUAAAAAbaoDZaUAAP8AaKIAaKgAaanoa2P9///3cWF2qsh6qsmFutmDqMSEqcblbGPpbWMAX6aFu9mFvNp+qskAaK72XUxqoMMAZ6fsWEr2mpH///9qo8f9XkztWUr/9/bU3ufSzteBt9V2stNupsqAq8j6y8d1psZnnsEAcrIAba33kYf3c2X2cWPubmLsXlDpRjb5///8pJv+o5stUuLiAAAAFnRSTlMAsCkBFvXzm3FwSUv4+PagnxX39ksWQkJRzwAAANlJREFUGNNFkNmygjAQRBOCguv1uoTMJIRNZBVc/v/fDIkW/dR1qnpquonT5Xw4bHwyy6PLaxxfl9RjXxIeWxFxHolmv3Jk9Za5Q2X/Cm1q16Msas5VdUe59QhhtCmNTUFnA8q8pYz4CyGqARMYO3wWQiz+yVpFkcq6G8AtSWvj1+Qv5pzrER4PAG1sHHwRTGh0yAbrNJmCXaamoD1fPLEbIcGhsucZbXOJQ6Z1KvFeNpSZV7fGVorzupDY7zxb8dWXrlAu37+S+8ah9hQSJzaPQ2b5myD4TfgBIf8ZfWA10IEAAAAASUVORK5CYII=");
    background-size: 18px 18px;
    margin-left: 5px;
}