@import "header";
@import "card-one";
@import "recommend-products";
@import "card-two";
@import "service-card";
@import "interesting-card";
@import "reviews-card";
@import "footer";

:root {
  --color-link: #336fee;
  --background-card: #f5f5f6;
}

@font-face {
  font-family: 'NeueHaasUnica-Regular';
  src: url("../static/fonts/NeueHaasUnica-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TinkoffSans';
  src: url("../static/fonts/TinkoffSans.woff2") format('woff2');
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'NeueHaasUnica-Regular', sans-serif;
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

p {
  font-size: 15px;
}


hr {
  background: #dddfe0;
  border: none;
  height: 1px;
}

.title {
  padding: 48px 0 32px 0;
}

.title h2 {
  font-family: 'TinkoffSans', sans-serif;
  font-size: 34px;
  font-weight: normal;
  letter-spacing: 1px;
}

.title-second {
  font-family: 'TinkoffSans', sans-serif;
  font-size: 24px;
  letter-spacing: 0;
}

.container {
  max-width: 1100px;
  padding: 0 48px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
}

.text {
  color: black !important;
}

@media (max-width: 1360px) {
  .container {
    min-width: 1100px;
  }
}

