@mixin flexbox($fx,$vr,$vc,$c) {
  display: $fx;
  justify-content: $vr;
  align-items: $vc;
  flex-direction: $c;
}


.card-two-list {
  @include flexbox(flex,space-between,initial,initial);
  margin-bottom: 70px;
  padding: 16px 0;
}

.card-two-list-item {
  width: 48%;
  height: 484px;
  background-color: var(--background-card);
  @include flexbox(flex,initial,center,column)
}

.card-two-list-item-img {
  width: 100%;
  background-color: #959ba4;
  @include flexbox(flex,center,initial,initial)
}

.card-two-list-item-title {
  height: 100%;
  @include flexbox(flex,space-between,initial,column);
  padding: 32px;
}

.card-two-list-item-link {
  padding: 9px 23px 11px 23px;
  background-color: var(--background-card);
  text-align: center;
  border: 1px solid var(--color-link);
  border-radius: 4px;
  &:hover {
    border: 1px solid #1F50BA;
  }
}