.card-one {
  min-width: 100vw;
  background: #f6f7f8 url("https://acdn.tinkoff.ru/static/pages/files/c4b146f4-7439-4546-ba25-ad7fd50cb48d.webp") no-repeat left 90% bottom;;
}

%flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-one-title-h1 {
  font-family: TinkoffSans, sans-serif;
  font-size: 44px;
  line-height: 48px;
  font-weight: 400;
  color: #333;
}

.card-one-container {
  height: 480px;
  width: 100%;
  @extend %flexbox;
}

.card-one-title {
  height: 45%;
  @extend %flexbox;
  h1 {
    width: 440px;
    font-family: 'TinkoffSans', sans-serif;
    font-size: 44px;
    line-height: 48px;
    font-weight: normal;
  }
}

.card-one-link-item {
  padding: 15px 35px;
  border-radius: 4px;
  background-color: #ffdd2d;
  color: black;
  &:hover {
    background-color: #FCC521;
  }
}

//@media (max-width: 1360px) {
//  .card-one-container {
//    min-width: 1100px;
//  }
//}