@mixin flexbox($fx,$vr,$vc) {
  display: $fx;
  justify-content: $vr;
  align-items: $vc;
}
header {
  width: 100%;
  font-family: 'NeueHaasUnica-Regular', sans-serif;
  font-size: 13px;
  box-sizing: border-box;
  a {
    color: rgba(0,0,0,.54);
    height: 64px;
    @include flexbox(flex,initial,center);
    white-space: nowrap;
    box-sizing: border-box;
  }
  a:hover:not(.sing .dropdown-content a) {
    color: black;
    border-bottom: 2px solid;
    border-bottom-color: rgba(0,0,0,.15);

  }
  a:focus {
    color: black;
    border-bottom: 2px solid;
    border-bottom-color: rgba(0,0,0,.66);
  }
}

.header-logo {
  box-sizing: border-box;
  height: 64px;
  @include flexbox(flex,initial,center);
}

.header-first-line-menu {
  display: flex;
  max-width: 100vw;
}

.header-second-line-menu {
  display: flex;
  justify-content: space-between;
  min-height: 64px;
}

.header-first-line-menu-log {
  width: 79%;
  display: flex;
}

.header-first-line-menu-list, .header-second-line-menu-list {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.header-first-line-menu-list-item, .header-second-line-menu-list-item {
  padding-right: 24px;
}




.header-first-line-menu-sing {
  a {
    width: 71px;
    color: var(--color-link);
    transition: .3s ease-in-out;
    box-sizing: border-box;
    margin-left: 9vw;
  }
  a:hover {
    color: black;
    border: none;
  }
}
//====================================
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  visibility: hidden;
  width: 140px;
  background-color: white;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 116%;
  left: 90%;
  margin-left: -60px;
  opacity: 0;
  transition: all .3s;
}

.dropdown-content a {
  height: 30px ;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-content a:hover {
  background-color: #ecf1f7;
  color: var(--color-link);
  border: none;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(-4px);
  top: 110%;
}

.burger {
  display: none;
  text-align: center;
}

.burger-menu-one {
  visibility: hidden;
  width: 140px;
  background-color: white;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 8px 0;
  position: absolute;
  top: 116%;
  left: 100%;
  z-index: 1;
  margin-left: -100px;
  opacity: 0;
  transition: all .3s;
}

.burger-menu-one a {
  height: 30px ;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.burger-menu-one a:hover {
  background-color: #ecf1f7;
  color: var(--color-link);
  border: none;
}

.burger-menu-two {
  visibility: hidden;
  width: 140px;
  background-color: white;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  box-shadow: inset 0 -3px 0 -1px #dddfe0;
  padding: 8px 0;
  position: absolute;
  top: 116%;
  left: 100%;
  z-index: 1;
  margin-left: -100px;
  opacity: 0;
  transition: all .3s;
}

.burger-menu-two a {
  height: 30px ;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.burger-menu-two a:hover {
  background-color: #ecf1f7;
  color: var(--color-link);
  border: none;
}




@media (max-width: 1060px) {
  .burger {
    display: block;
    width: 24px;
  }
  .header-first-line-menu-list .one {
    display: none;
  }

  .burger-menu-two {
    visibility: hidden;
    opacity: 0;
  }
  .burger:hover .burger-menu-one{
    visibility: visible;
    opacity: 1;
    top: 110%;
  }
}

@media (max-width: 1024px) {
  .burger-menu-one {
    visibility: hidden;
    opacity: 0;
  }
  .header-first-line-menu-list .two {
    display: none;
  }
  .burger:hover .burger-menu-two{
    visibility: visible;
    opacity: 1;
    top: 110%;
  }
}




