@mixin flexbox($fx,$vr) {
  display: $fx;
  justify-content: $vr;
}

.interesting-card-list {
  @include flexbox(flex,space-between);
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 10px;

}

.interesting-card-list-item {
  @include flexbox(flex,space-between);
  width: 48%;
  background-color: var(--background-card);
  cursor: pointer;
  transition: .2s ease-in-out;
  &:hover {
    color: var(--color-link);
  }
}

.interesting-card-list-item-title {
  @include flexbox(flex,space-around);
  flex-direction: column;
  margin-left: 30px;
}