@mixin flexbox($fx,$vr) {
  display: $fx;
  justify-content: $vr;
}

.recommend-products-card {
  @include flexbox(flex,space-between);
  flex-wrap: wrap;
  letter-spacing: 0;
  margin-bottom: 32px;

}
.recommend-products-card-item {
  width: 30%;
  height: 444px;
  @include flexbox(flex,space-between);
  flex-direction: column;
  margin-bottom: 50px;
  cursor: pointer;
  transition: .2s ease-in-out;
  &:hover {
    color: var(--color-link);
  }
}

.recommend-products-card-item-link {
  padding: 9px 23px 9px 23px;
  background-color: #ecf1f7;
  text-align: center;
  border-radius: 4px;
  transition: .2s ease-in-out;
  &:hover {
    background-color: #eaebf1;
  }
}