.reviews-card-item {
  display: flex;
  height: 260px;
  background-color: var(--background-card);
  margin-top: 10px;
  margin-bottom: 120px;
  .reviews-card-item-log {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
  }
}

