@mixin flexbox($fx,$vr) {
  display: $fx;
  justify-content: $vr;
}

.service-card {
  background-color: var(--background-card);
}

.service-card-item-list {
  @include flexbox(flex,space-between);
  padding: 16px 0 0 0;

}

.service-card-item-first-line {
  width: 42%;
  height: 168px;
  padding: 30px;
  background-color: white;
  margin-bottom: 32px;
  @include flexbox(flex,space-between);
  flex-direction: column;
  cursor: pointer;
  transition: all .3s;
  &:hover {
    box-shadow: 0 12px 36px 0 rgba(0, 0, 0, .2);
    transform: translateY(-4px);
  }
}

.service-card-item-second-line {
  width: 100%;
  background-color: white;
  @include flexbox(flex,space-between);
  margin-bottom: 54px;
  cursor: pointer;
  transition: all .5s;
  &:hover {
    box-shadow: 0 12px 36px 0 rgba(0, 0, 0, .2);
    transform: translateY(-4px);
  }
}

.service-card-item-second-line-title {
  @include flexbox(flex,space-around);
  flex-direction: column;
  padding: 25px;
}

.img {
  height: 180px;
}